.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 200px;

}
#body{
    background-color: aliceblue;
}

#secret{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
}
#but1{
    margin-right: 30px;
    border-radius: 5px;
    border:2px;
    border-color: antiquewhite;
    font-size: 20px;

    background-color: white;
}
#but2{
    border-radius: 5px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    
}

form{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
#but22{
    background-color:black;
    color: aliceblue;
    margin-left: 20px;
    border-radius: 3px;
    border-color: transparent;
    font-size: 15px;
    margin-top: 10px;

}
.sec{
    display: flex;
    flex-direction:column;
    text-align: center;
}

.signup{
    display: flex;
    text-align: center;
    margin-left: 960px;
    margin-top: 20px;

}
h1{
    text-align: center;
}
